{% extends "layout.html" %}

{% block content %}
    <h3>Password Reset</h3>
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
        <br>
        {{form.email}}
        <!-- <div class='form-group'>
            <input type="email" name='email' maxlength='254' required placeholder='Email Address'>
        </div> -->
        <input type="submit" class="btn btn-primary" value="Reset password">
    </form>
{% endblock %}