{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card h-100">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="{{ listing.image }}" class="card-img" alt="{{ listing.title }}">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title text-info d-inline">{{ listing.title }}  {% if user == listing.creator %} - <a href='{% url "update-listing" listing.pk%}' class='text-muted small badge badge-light'><i class="fas fa-edit"></i>Edit</a> {% endif %}</h5> 
                        {% if listing.active %}      
                            <div class='watchlist mt-3'>
                                {% if user.is_authenticated %}
                                    {% if watching %}
                                        <a class='btn btn-sm btn-primary mb-3' href="{% url 'toggle-watchlist' listing.pk %}"><i class="far fa-eye"></i> Watching</a> 
                                    {% else %}
                                        <a class='btn btn-sm btn-outline-primary mb-3' href="{% url 'toggle-watchlist' listing.pk %}">Add to Watchlist</a> 
                                    {% endif %}
                                {% endif %}
                            </div>

                            <p><strong>Current Bid: ${{listing.highest_bid_price}}</strong> - {{listing.num_bids}} Bid{{ listing.num_bids|pluralize:',s' }}</p>
                            <p>Starting Price: ${{listing.price}}</p>
                            <p>This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><strong>Category: </strong> {{ listing.category|title }}</p>
                            {% if user.is_authenticated %}
                                {% if user.id == listing.creator.id %}
                                <div class='mb-3'>
                                    <a href="{% url 'delete-listing' listing.id %}" class='btn btn-danger'>End Listing</a>
                                    <span class='text-muted d-block'>Ends listing and highest bidder becomes winner</span>
                                </div>
                                {% endif %}
                            {% endif %} 
                            <p class="card-text small text-muted">Listed by: {{ listing.creator }} on {{ listing.timestamp.date }}</p>
                            {% if user.is_authenticated %}
                            <form action="{% url 'add-bid' listing.pk %}" method="POST" class='w-75'>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <!-- {{bid_form}} -->
                                    <input type="number" name='bid_price' class='form-control' placeholder='enter bid'>
                                </div> 
                                {% csrf_token %}
                                {% for value in bid_form.errors.values %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{ value }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                                <button class='btn btn-success'> $ Place Bid </button> 
                            </form>
                            {% else %}
                            <p><a href="{% url 'login' %}">Login</a> to bid</p>
                            {% endif %}
                        {% else %} 
                            <h1>This listing has ended</h1>
                            {% if listing.winner %}
                            <h3>Winner is <span class='text-primary'>{{listing.winner}}</span> <i class="fas fa-award"></i></h3>
                            {% endif %}
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-header">
                Add Comment
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                <form action="{% url 'add-comment' listing.pk %}" method="POST">
                    {% csrf_token %}
                    {{comment_form.as_p}}
                    <button type='submit' class="btn btn-primary"> Add Comment</button>
                </form>
                {% else %}
                <p><a href="{% url 'login' %}">Login</a> to comment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Comments
            </div>
            <ul class="list-group list-group-flush">
                {% for comment in comments_list %}
                <li class="list-group-item">
                    <i class="fas fa-user-circle"></i> {{ comment.commenter }} - <strong>{{ comment.title }}</strong>
                    <p class='my-2 ml-4'>{{comment.comment}}</p>
                    <span class='small text-muted'>Posted on {{comment.timestamp}}</span>
                </li>
                {% empty %}
                    <span class='ml-2 my-2'>No comments yet...</span>    
                {% endfor %}
            </ul>
        </div>
    </div>  
</div>

{% endblock %}
